<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="../../assets/imgs/tim-logo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colorfull-background">
  <h1>Bem-vindo ao TIM VoWIFI</h1>
  <br>
  <br>
  <br>
  <button ion-button round outline class="tim-button" (click)="moveToSimPage()">Participar</button>


  <button ion-button class="tim-button" (click)="getSimData()">Populate SIM Info</button>

  <ion-list *ngIf="simInfo">
    <ion-item><b>Country Code</b> {{ simInfo.countryCode }}</ion-item>
    <ion-item><b>Phone Number</b> {{ simInfo.phoneNumber }}</ion-item>
    <ion-item><b>Device Id</b> {{ simInfo.deviceId }}</ion-item>
  </ion-list>
  <ion-card *ngFor="let card of cards">
    <ion-card-header>
      {{card.carrierName}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item><b>simSlotIndex</b> {{ card.simSlotIndex }}</ion-item>
        <ion-item><b>displayName</b> {{ card.displayName }}</ion-item>
        <ion-item><b>isNetworkRoaming</b> {{ card.isNetworkRoaming }}</ion-item>
        <ion-item><b>isDataRoaming</b> {{ card.isDataRoaming }}</ion-item>
        <ion-item><b>phoneNumber</b> {{ card.phoneNumber }}</ion-item>
        <ion-item><b>simSerialNumber</b> {{ card.simSerialNumber }}</ion-item>
        <ion-item><b>Network Status</b> {{ statusNetwork }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <label class="footer-label"> Powered by Nokia/Engineering </label>
</ion-footer>
