<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="../../assets/imgs/tim-logo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="colorfull-background">

  <ion-card>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item>
          <ion-label floating>Entre com seu número</ion-label>
          <ion-input type="tel" pattern="\(\d\d\)\s\d{4,5}\-\d{4}" maxlength="15"
                     minlength="15" #input mask="(**) *****-****"
                     (ionChange)="simValueChange($event)"></ion-input>
        </ion-item>

        <button ion-button round color="secondary" *ngIf="showActivate != null && showActivate" (click)="activateSim()">Ativar
        </button>
        <button ion-button round color="danger" *ngIf="showActivate != null && !showActivate" (click)="deactivateSim()">Desativar
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <label class="footer-label"> Powered by Nokia/Engineering </label>
</ion-footer>
