<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-title style="color: #488aff">
      <img src="../../assets/imgs/tim-logo.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Enter your number</ion-label>
    <ion-input type="tel" pattern="\(\d\d\) \d{4,5}\-\d{4}" maxlength="15"
               minlength="15" #input mask="(**) *****-****"
               (ionChange)="simValueChange($event)"></ion-input>
  </ion-item>

  <button ion-button color="secondary"  *ngIf="showActivate != null && showActivate" (click)="activateSim()">Activate</button>
  <button ion-button color="danger" *ngIf="showActivate != null && !showActivate" (click)="deactivateSim()">Deactivate</button>

</ion-content>

<ion-footer>
  <label style="color: #488aff"> Powered by Nokia/Eng.IT </label>
</ion-footer>
